{% extends 'base.html' %}
{% load static %}


{% block title %}Home{% endblock %}

{% block content %}
<section class="hero bg-blue-500 text-white py-20">
    <div class="container mx-auto text-center">
        <h1 class="text-5xl font-bold mb-4">Welcome to My Portfolio</h1>
        <p class="text-xl font-light mb-6">Discover my work, my journey, and my passion.</p>
        <a href="#portfolio" class="bg-white text-blue-500 px-6 py-3 rounded-full font-bold hover:bg-gray-200">
            View My Work
        </a>
    </div>
</section>
{% endblock %}
